
    <option value=""></option>
    <option value="ALASKA">ALASKA</option>
    <option value="47">47 - AK Bristol Bay salmon drift gillnet fishery</option>
    <option value="48">48 -&nbsp;AK Bristol Bay salmon set gillnet fishery</option>
    <option value="45">45 -&nbsp;AK Cook Inlet salmon drift gillnet fishery</option>
    <option value="122">122 -&nbsp;AK Cook Inlet salmon set gillnet</option>
    <option value="18 ishery">18 -&nbsp;AK Kodiak salmon set gillnet fishery</option>
    <option value="08 salmon drift gillnet fishery">08 -&nbsp;AK Peninsula/Aleutian Islands salmon drift gillnet fishery</option>
    <option value="19 salmon set gillnet fishery">19 -&nbsp;AK Peninsula/Aleutian Islands salmon set gillnet fishery</option>
    <option value="06  drift gillnet fishery">06 -&nbsp;AK Prince William Sound salmon drift gillnet fishery</option>
    <option value="15 net fishery">15 -&nbsp;AK Southeast salmon drift gillnet fishery</option>
    <option value="16 fishery">16 -&nbsp;AK Yakutat salmon set gillnet fishery</option>
    <option value="120fishery">120 -&nbsp;AK Kodiak salmon purse seine fishery</option>
    <option value="121ine fishery">121 -&nbsp;AK Cook Inlet salmon purse seine fishery</option>
    <option value="101ds, flatfish trawl fishery">101 -&nbsp;AK Bering Sea, Aleutian Islands, flatfish trawl fishery</option>
    <option value="102ds pollock trawl fishery">102 -&nbsp;AK Bering Sea, Aleutian Islands pollock trawl fishery</option>
    <option value="103 -&nbsp;AK Bering Sea, Aleutian Islands rockfish trawl fishery">103 -&nbsp;AK Bering Sea, Aleutian Islands rockfish trawl fishery</option>
    <option value="PACIFIC OCEAN">PACIFIC OCEAN</option>
    <option value="11 -&nbsp;CA/OR thresher shark/swordfish drift gillnet fishery (>_14 in. mesh) (includes the high seas Pacific Highly Migratory&nbsp;Species drift gillnet fishery)">11 -&nbsp;CA/OR thresher shark/swordfish drift gillnet fishery (&gt;_14 in. mesh) (includes the high seas Pacific Highly Migratory&nbsp;Species drift gillnet fishery)</option>
    <option value="12 -&nbsp;CA halibut/white seabass and other species set gillnet (>3.5in mesh)">12 -&nbsp;CA halibut/white seabass and other species set gillnet (&gt;3.5in mesh)</option>
    <option value="21 -&nbsp;WA Puget Sound Region salmon drift gillnet fishery (includes all inland waters south of US-Canada border and&nbsp;eastward of the Bonilla-Tatoosh line--Treaty Indian fishing is excluded)">21 -&nbsp;WA Puget Sound Region salmon drift gillnet fishery (includes all inland waters south of US-Canada border and&nbsp;eastward of the Bonilla-Tatoosh line--Treaty Indian fishing is excluded)</option>
    <option value="92 -&nbsp;CA yellowtail, barracuda and white seabass drift gillnet fishery (mesh size ≥3.5in and <14in)">92 -&nbsp;CA yellowtail, barracuda and white seabass drift gillnet fishery (mesh size ≥3.5in and &lt;14in)</option>
    <option value="91 -&nbsp;HI deep-set (tuna target) longline/set line fishery (includes the high seas Western Pacific Pelagic (deep-set component)&nbsp;fishery)">91 -&nbsp;HI deep-set (tuna target) longline/set line fishery (includes the high seas Western Pacific Pelagic (deep-set component)&nbsp;fishery)</option>
    <option value="130 -&nbsp;HI shallow-set (swordfish target) longline/set line fishery (includes the high seas Western Pacific Pelagic (shallow-set&nbsp;component) fishery)">130 -&nbsp;HI shallow-set (swordfish target) longline/set line fishery (includes the high seas Western Pacific Pelagic (shallow-set&nbsp;component) fishery)</option>
    <option value="166 -&nbsp;American Samoa longline fishery">166 -&nbsp;American Samoa longline fishery</option>
    <option value="167 -&nbsp;HI shortline fishery">167 -&nbsp;HI shortline fishery</option>
    <option value="131 -&nbsp;CA spot prawn pot fishery">131 -&nbsp;CA spot prawn pot fishery</option>
    <option value="132 -&nbsp;CA Dungeness crab pot fishery">132 -&nbsp;CA Dungeness crab pot fishery</option>
    <option value="133 -&nbsp;OR Dungeness crab pot fishery">133 -&nbsp;OR Dungeness crab pot fishery</option>
    <option value="134 -&nbsp;WA/OR/CA sablefish pot fishery">134 -&nbsp;WA/OR/CA sablefish pot fishery</option>
    <option value="173 -&nbsp;WA Coastal Dungeness crab pot/trap fishery">173 -&nbsp;WA Coastal Dungeness crab pot/trap fishery</option>
    <option value="ATLANTIC OCEAN">ATLANTIC OCEAN</option>
    <option value="57 -&nbsp;Northeast sink gillnet fishery">57 -&nbsp;Northeast sink gillnet fishery</option>
    <option value="59 -&nbsp;Mid-Atlantic gillnet fishery">59 -&nbsp;Mid-Atlantic gillnet fishery</option>
    <option value="83 -&nbsp;NC inshore gillnet fishery">83 -&nbsp;NC inshore gillnet fishery</option>
    <option value="58 -&nbsp;Northeast anchored float gillnet fishery">58 -&nbsp;Northeast anchored float gillnet fishery</option>
    <option value="89 -&nbsp;Northeast drift gillnet fishery">89 -&nbsp;Northeast drift gillnet fishery</option>
    <option value="84 -&nbsp;Southeast Atlantic gillnet fishery">84 -&nbsp;Southeast Atlantic gillnet fishery</option>
    <option value="40 -&nbsp;Southeastern U.S. Atlantic shark gillnet fishery">40 -&nbsp;Southeastern U.S. Atlantic shark gillnet fishery</option>
    <option value="110 -&nbsp;Chesapeake Bay inshore gillnet fishery">110 -&nbsp;Chesapeake Bay inshore gillnet fishery</option>
    <option value="05 -&nbsp;Atlantic Ocean, Caribbean, Gulf of Mexico large pelagics longline fishery (includes the high seas Atlantic Highly&nbsp;Migratory Species longline fishery)">05 -&nbsp;Atlantic Ocean, Caribbean, Gulf of Mexico large pelagics longline fishery (includes the high seas Atlantic Highly&nbsp;Migratory Species longline fishery)</option>
    <option value="70 -&nbsp;Mid-Atlantic mid-water trawl (including pair trawl) fishery">70 -&nbsp;Mid-Atlantic mid-water trawl (including pair trawl) fishery</option>
    <option value="65 -&nbsp;Northeast mid-water trawl (including pair trawl) fishery">65 -&nbsp;Northeast mid-water trawl (including pair trawl) fishery</option>
    <option value="77 -&nbsp;Northeast bottom trawl fishery">77 -&nbsp;Northeast bottom trawl fishery</option>
    <option value="100 -&nbsp;Mid-Atlantic bottom trawl fishery">100 -&nbsp;Mid-Atlantic bottom trawl fishery</option>
    <option value="175 -&nbsp;Southeastern U.S. Atlantic, Gulf of Mexico shrimp trawl fishery">175 -&nbsp;Southeastern U.S. Atlantic, Gulf of Mexico shrimp trawl fishery</option>
    <option value="71 -&nbsp;Mid-Atlantic haul/beach seine fishery">71 -&nbsp;Mid-Atlantic haul/beach seine fishery</option>
    <option value="87 -&nbsp;NC long haul seine fishery">87 -&nbsp;NC long haul seine fishery</option>
    <option value="111 -&nbsp;Mid-Atlantic menhaden purse seine fishery">111 -&nbsp;Mid-Atlantic menhaden purse seine fishery</option>
    <option value="72 -&nbsp;NC roe mullet stop net fishery">72 -&nbsp;NC roe mullet stop net fishery</option>
    <option value="88 -&nbsp;VA pound net fishery">88 -&nbsp;VA pound net fishery</option>
    <option value="74 -&nbsp;Northeast/Mid-Atlantic American lobster trap/pot fishery">74 -&nbsp;Northeast/Mid-Atlantic American lobster trap/pot fishery</option>
    <option value="97 -&nbsp;Atlantic mixed species trap/pot fishery">97 -&nbsp;Atlantic mixed species trap/pot fishery</option>
    <option value="85 -&nbsp;Atlantic blue crab trap/pot fishery">85 -&nbsp;Atlantic blue crab trap/pot fishery</option>
    <option value="176 -&nbsp;Southeastern U.S. Atlantic, Gulf of Mexico stone crab trap/pot fishery">176 -&nbsp;Southeastern U.S. Atlantic, Gulf of Mexico stone crab trap/pot fishery</option>
    <option value="GULF OF MEXICO">GULF OF MEXICO</option>
    <option value="66 -&nbsp;Gulf of Mexico menhaden purse seine fishery">66 -&nbsp;Gulf of Mexico menhaden purse seine fishery</option>
    <option value="95 -&nbsp;Gulf of Mexico gillnet fishery">95 -&nbsp;Gulf of Mexico gillnet fishery</option>
    <option value="HIGH SEAS (without an EEZ component)">HIGH SEAS (without an EEZ component)</option>
    <option value="135 -&nbsp;Atlantic Highly Migratory Species drift gillnet fishery">135 -&nbsp;Atlantic Highly Migratory Species drift gillnet fishery</option>
    <option value="137 -&nbsp;Atlantic Highly Migratory Species trawl fishery">137 -&nbsp;Atlantic Highly Migratory Species trawl fishery</option>
    <option value="140 - Western Pacific Pelagic trawl fishery">140 - Western Pacific Pelagic trawl fishery</option>
    <option value="168 - CCAMLR trawl fishery">168 - CCAMLR trawl fishery</option>
    <option value="142 - South Pacific tuna purse seine fishery">142 - South Pacific tuna purse seine fishery</option>
    <option value="143 - Western Pacific Pelagic purse seine fishery">143 - Western Pacific Pelagic purse seine fishery</option>
    <option value="147 - South Pacific albacore troll fishery">147 - South Pacific albacore troll fishery</option>
    <option value="148 - South Pacific tuna longline fishery">148 - South Pacific tuna longline fishery</option>
    <option value="169 - CCAMLR longline fishery">169 - CCAMLR longline fishery</option>
    <option value="149 - Atlantic Highly Migratory Species troll fishery">149 - Atlantic Highly Migratory Species troll fishery</option>
    <option value="150 - South Pacific albacore troll fishery">150 - South Pacific albacore troll fishery</option>
    <option value="151 - South Pacific tuna troll fishery">151 - South Pacific tuna troll fishery</option>
    <option value="152 - Western Pacific Pelagic troll fishery">152 - Western Pacific Pelagic troll fishery</option>
    <option value="153 - Atlantic Highly Migratory Species troll fishery">153 - Atlantic Highly Migratory Species troll fishery</option>
    <option value="154 - Pacific Highly Migratory Species handline/pole and line fishery">154 - Pacific Highly Migratory Species handline/pole and line fishery</option>
    <option value="155 - South Pacific albacore troll handline/pole and line fishery">155 - South Pacific albacore troll handline/pole and line fishery</option>
    <option value="156 - Western Pacific Pelagic handling/pole and line fishery">156 - Western Pacific Pelagic handling/pole and line fishery</option>
    <option value="158 - Pacific Highly Migratory Species liners (not elsewhere identified) fishery">158 - Pacific Highly Migratory Species liners (not elsewhere identified) fishery</option>
    <option value="159 - South Pacific albacore troll&nbsp;liners (not elsewhere identified) fishery">159 - South Pacific albacore troll&nbsp;liners (not elsewhere identified) fishery</option>
    <option value="160 - Western Pacific Pelagic&nbsp;liners (not elsewhere identified) fishery">160 - Western Pacific Pelagic&nbsp;liners (not elsewhere identified) fishery</option>
